# Logs
logs
*.log
*.7z
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
json/
newData/
storage
test-test
提取*
*.csv
download
vocabulary.com
node_modules
merriam-webster.com
dictionary.cambridge.org/html/
dictionary.cambridge.org/json/
dict.hjenglish.com
ldoceonline.com
hjenglish.com
bing.com
youdao.com
dict.cn
wordreference.com
dictionary.cambridge.org
koolearn.com
collinsdictionary.com

wordreference.com/html/
wordreference.com/json/
wordreference.com/*.html


.DS_Store
dist-ssr
coverage
*.local

/cypress/videos/
/cypress/screenshots/

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
